:host {
  display: block;
}

.annotation-form-divider {
  border-color: rgba(0, 0, 0, 0.08);
}

@media (prefers-color-scheme: dark) {
  .annotation-form-divider {
    border-color: rgba(255, 255, 255, 0.1);
  }
}
