<div>
  <h1>{{ episode()?.title }}</h1>

  <p class="text-sm text-gray-500">Erro encontrado:</p>
  <p>{{ episode()?.error }}</p>

  <p class="text-sm text-gray-500">Tente lembrar como você resolveu antes de expandir</p>

  @if (!solutionRevealed()) {
    <button mat-button (click)="revealSolution()">Ver solução</button>
  }

  @if (solutionRevealed()) {
    <div class="flex flex-col gap-4 mt-4">
      <p class="text-sm font-semibold" style="color: var(--color-text-primary)">Solução:</p>
      <p>{{ episode()?.solution }}</p>

      <p class="text-sm font-semibold" style="color: var(--color-text-primary)">
        Por que funcionou:
      </p>
      <p>{{ episode()?.reasoning }}</p>

      @if (episode()?.snippets) {
        <p class="text-sm font-semibold" style="color: var(--color-text-primary)">
          Código relevante:
        </p>
        <app-code-snippet [code]="episode()?.snippets ?? ''"></app-code-snippet>
      }

      <mat-chip-grid #chipGrid aria-label="Tags do episódio">
        @for (tag of episode()?.tags; track tag) {
          <mat-chip>{{ tag }}</mat-chip>
        }
      </mat-chip-grid>

      <p class="text-sm font-semibold" style="color: var(--color-text-primary)">Data de criação:</p>
      <p>{{ episode()?.createdAt | date: 'dd/MM/yyyy' }}</p>

      <p class="text-sm font-semibold" style="color: var(--color-text-primary)">Data de revisão:</p>
      @if (episode()?.reviewedAt) {
        <p>{{ episode()?.reviewedAt | date: 'dd/MM/yyyy' }}</p>
      }

      <p class="text-sm font-semibold" style="color: var(--color-text-primary)">Nome da stack:</p>
      <p>{{ getStackName(episode()?.stackId ?? '') }}</p>
    </div>

    <button mat-button (click)="markAsReviewed()">Marcar como revisado</button>
    <button
      mat-button
      [routerLink]="['/stacks', episode()?.stackId, 'episodios', episode()?.id, 'editar']"
    >
      <mat-icon>edit</mat-icon>
      Editar episódio
    </button>
    <button mat-button color="warn" (click)="deleteEpisode()">Excluir episódio</button>
  }
</div>
