<h2 mat-dialog-title>Criar Stack</h2>

<form [formGroup]="form" (ngSubmit)="save()">
  <mat-dialog-content>
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name" placeholder="Digite o nome da stack" />
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">Cancelar</button>
    <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">Criar</button>
  </mat-dialog-actions>
</form>
